<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        About this application
      </div>
      <div class="panel-body">
        <p>This is a simple feature voting app, that was built when i decided to take a look at Ruby language and Rails framework</p>
        <a href="/" class="btn btn-primary btn-sm"> Cancel </a>
      </div>
        <div>

        </div>
    </div>

  </div>
</div>